# Don't share ssh keys and known_hosts
etc/.ssh/*id_rsa
etc/.ssh/*id_rsa.pub
etc/.ssh/known_hosts
etc/.ssh/config
# Ignore cache folders
cache
# Install vim bundles via Vundle
etc/.vim/bundle
etc/.vim/tmp
# SSL certificate hashes
etc/.certs.d/*.[0-9]
