[submodule "public/etc/vim.d/bundle/AnsiEsc.vim"]
	path = public/etc/vim.d/bundle/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/ack"]
	path = public/etc/vim.d/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/commentary"]
	path = public/etc/vim.d/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/ctrlp"]
	path = public/etc/vim.d/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/fugitive"]
	path = public/etc/vim.d/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/linediff"]
	path = public/etc/vim.d/bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/nerdtree"]
	path = public/etc/vim.d/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/powerline"]
	path = public/etc/vim.d/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
	branch = develop
	ignore = untracked
[submodule "public/etc/vim.d/bundle/surround"]
	path = public/etc/vim.d/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/yankring"]
	path = public/etc/vim.d/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/repeat"]
	path = public/etc/vim.d/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/supertab"]
	path = public/etc/vim.d/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/gitgutter"]
	path = public/etc/vim.d/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/tabular"]
	path = public/etc/vim.d/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "public/etc/vim.d/bundle/python-mode"]
	path = public/etc/vim.d/bundle/python-mode
	url = https://github.com/klen/python-mode.git
	ignore = untracked
