[submodule "public/etc/vim.d/bundle/AnsiEsc.vim"]
	path = public/etc/vim.d/bundle/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "public/etc/vim.d/bundle/ack"]
	path = public/etc/vim.d/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
