[submodule "public/etc/vim.d/bundle/AnsiEsc.vim"]
	path = public/etc/vim.d/bundle/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "public/etc/vim.d/bundle/ack"]
	path = public/etc/vim.d/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "public/etc/vim.d/bundle/commentary"]
	path = public/etc/vim.d/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "public/etc/vim.d/bundle/ctrlp"]
	path = public/etc/vim.d/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "public/etc/vim.d/bundle/fugitive"]
	path = public/etc/vim.d/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "public/etc/vim.d/bundle/linediff"]
	path = public/etc/vim.d/bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "public/etc/vim.d/bundle/nerdtree"]
	path = public/etc/vim.d/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "public/etc/vim.d/bundle/powerline"]
	path = public/etc/vim.d/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
