# Ignore everything
*

# But not these files or folders
!.gitignore
!autostart/
!autostart/**
!dunst/
!dunst/**
!gtk-2.0/
!gtk-2.0/**
!gtk-3.0/
!gtk-3.0/**
!nvim/
!nvim/**
!systemd/
!systemd/**
!sway/
!sway/**
!hikari/
!hikari/**
!tmux/
!tmux/**
!htop/
!htop/**
!alacritty/
!alacritty/**
!dosbox-x/
!dosbox-x/**
!flameshot/
!flameshot/**
!rofi/
!rofi/**
!user-dirs.dirs
