# Ignore everything
*

# But not these files or folders
!.gitignore
!autostart/
!dunst/
!gtk-2.0/
!gtk-3.0/
!nvim/
!systemd/
!sway/
!hikari/
!tmux/
!htop/
!alacritty/
!dosbox-x/
!flameshot/
!rofi/
!user-dirs.dirs
