[user]
	name = Thomas Merkel
	email = tm@core.io
	signingkey = 0x12AE4593D7A63833

[github]
	user = drscream

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[credential]
	helper = cache --timeout=300

[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	root = rev-parse --show-toplevel

	graft = cherry-pick -x

	l   = log -18       --color=always --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s%Cred%d%Creset %C(blue bold)(%cr) %C(black bold)<%an>%Creset'
	la  = log -18 --all --color=always --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s%Cred%d%Creset %C(blue bold)(%cr) %C(black bold)<%an>%Creset'
	ll  = log           --color=always --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s%Cred%d%Creset %C(blue bold)(%cr) %C(black bold)<%an>%Creset'
	gl  = log -12       --color=always --graph --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s %C(blue bold)(%cr) %C(black bold)<%an>%Creset%C(yellow bold)%d%Creset%n'
	gla = log -12 --all --color=always --graph --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s %C(blue bold)(%cr) %C(black bold)<%an>%Creset%C(yellow bold)%d%Creset%n'
	gll = log           --color=always --graph --topo-order --pretty='format:%Cgreen%h%Creset %Cblue%G?%Creset %s %C(blue bold)(%cr) %C(black bold)<%an>%Creset%C(yellow bold)%d%Creset%n'
	ld  = log -1  -p

	pull = pull --ff-only
	up = merge --ff-only
	join = merge --no-ff

	discard-merge = reset --hard HEAD

	ci   = commit
	cis  = commit -S
	cm   = commit -a -m
	cwtf = !git commit -a -m \"$(whatthecommit -n)\"

	d = !git diff | vim -R -
	di = !git diff --cached | vim -R -

	co = checkout
	id = rev-parse


	stat = status
	st = status

	unstage = reset HEAD
	uns = reset HEAD

	delete-local-branch = branch -D
	delete-remote-branch = push origin --delete
	delete-local-reference-to-remote-branch = branch -rd

	currentbranch = !git branch --contains HEAD | grep '*' | tr -s ' ' | cut -d ' ' -f2

	br = !git for-each-ref --color=always --sort='committerdate:iso8601' --format='%(color:bold red)%(committerdate:relative)|%(refname:short)|%(committername)' refs/remotes/ | column -s '|' -t
	bl = !git for-each-ref --sort='committerdate:iso8601' --format='%(committerdate:relative)|%(refname:short)|%(committername)' refs/heads/ | column -s '|' -t


	fo = fetch origin
	fu = fetch upstream

	po = push origin
	; lo = pull origin

	mo = !git merge --no-ff origin/`git currentbranch`
	mu = !git merge --no-ff upstream/`git currentbranch`

	uo = !git merge --ff-only origin/`git currentbranch`
	uu = !git merge --ff-only upstream/`git currentbranch`

	addremove = !git add . && git add -u
	addrem = !git addremove

[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[diff]
	color = auto
	rename = copy

[pager]
	color = true

[status]
	color = auto

[push]
	default = upstream

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge "git-crypt"]
	name = A custom merge driver used to merge git-crypted files.
	driver = ~/.bin/scripts/git-crypt-super-merge %O %A %B
	recursive = binary


# vim:ft=dosini
